body {
  background-color: tomato;
  font-size: 16px;
  font-family: sans-serif;
  margin: 50px;
}
h1{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 4rem;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  margin-bottom: 15px;
  font-size: 2rem;
}
a:link, a:visited{
  color: whitesmoke;
}
a:hover{
  color: DimGrey;
}
a:active{
  color: black;
}
header{
  width: 75vw;
  margin: 25px auto;
}
main{
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col{
  width: 50%;
  float: left;
}
@media screen and (max-width: 900px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
  header {
    width: 90vw;
  }
  main {
    width: 90vw;
  }
  h1 {
    font-size: 3rem;
  }
}
