h1 {
  font-size: 90px;
  color: MidnightBlue;
}
body {
  font-size: 40px;
  background-color: Aquamarine;
  color: Salmon;
  margin: 100px;
  padding: 100px;
}
a:link {
  color: PowderBlue;
}
a:hover {
  color: RoyalBlue;
}
a:visited{
  color: ForestGreen;
}
a:active{
  color: Pink;
}
