* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #2F2F2F;
}
div {
  display: block;
}
.head {
  left: 50%;
  right: 50%;
  position: absolute;
  transform: translate(-50%, 160%);
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius:50%;
}
.body {
  left: 50%;
  right: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 0% 0% 25% 25%;
}
.eye1 {
    left: 35%;
    right: 50%;
    position: absolute;
    transform: translate(-50%, -200%);
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.eye2 {
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translate(240%);
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.mouth {
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translate(-100%,100%);
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 90% 90% 90% 90% / 42% 42% 75% 75%;
}
.block {
    left: 50%;
    right: 50%;
    position: absolute;
    background-color: #2F2F2F;
    width: 50px;
    height: 50px;
    border-radius: 35%;
    transform: translate(0%, 350%) rotate(45deg);
}
.block2 {
    left: -180%;
    right: 50%;
    position: absolute;
    background-color: #2F2F2F;
    width: 50px;
    height: 50px;
    border-radius: 35%;
    transform: translate(90%, 90%);
