* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #111
}
header {
  background-color: #00AEFF;
  display: flow-root;
  padding: 10px 50px;
  position: relative;
}
main{
  background-color: whitesmoke;
}
.title {
  float: left;
}
.title p {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav {
  float: right;
  margin-top: -24px;
  font-size: 24px;
}
nav a, nav a:link, nav a:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-style: italic;
  color: #111;
}
nav a, nav a:hover, nav a:active {
  color: white;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  float: left;
  margin-left: 25px;
}
.homepicture {
  background: url(../images/crowd3.jpg) no-repeat center center;
  opacity: 75%;
  background-size: cover;
  padding: 325px 100px;
}
.homepicture h1, .aboutpicture h1, .musicpicture h1, .tourpicture h1 {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 25px;
  color: #00AEFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.aboutpicture {
  background: url(../images/crowd.jpg) no-repeat center center;
  opacity: 70%;
  background-size: cover;
  padding: 325px 100px;
}
.musicpicture {
  background: url(../images/microphone.jpg) no-repeat center center;
  opacity: 70%;
  background-size: cover;
  padding: 325px 100px;
}
.tourpicture {
  background: url(../images/crowd2.jpg) no-repeat center center;
  opacity: 70%;
  background-size: cover;
  padding: 325px 100px;
}
.row {
  display: flow-root;
  width: 100vw;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #00AEFF;
}
.col {
  width: calc(50% - 12.5px);
  float: left;
  margin-left: 10px;
}
.col-margin{
  /* margin-right: 25px; */
  margin-left: 15px;
}
.col img {
  width: 100%;
}
.col h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: indigo;
}
.col p {
  font-size: 28px;
}
.row2 {
  display: flow-root;
  width: 100vw;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #00AEFF;
}
.col2 {
  width: 500px;
  float: left;
  margin-left: 40px;
}
.col-margin2 {
  /* margin-right: 25px; */
  margin-left: 15px;
}
.col2 img {
  width: 100%;
  margin-bottom: 15px;
}
.col2 h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: indigo;
  margin-top: 0px;
}
.col2 p {
  font-size: 28px;
  margin: 5px;
}
.col2 h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: indigo;
  margin-top: 250px;
}
.col2 h4 {
  font-size: 3rem;
  text-transform: uppercase;
  color: indigo;
  margin-top: 240px;
}
.col2 h5 {
  font-size: 3rem;
  text-transform: uppercase;
  color: indigo;
  margin-top: 220px;
}
.row3 {
  display: flow-root;
  width: 100vw;
  margin: 0 auto;
  padding: 150px 100px;
  background-color: #00AEFF;
}
.col3 {
  width: 100%;
  float: left;
}
.col3 h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: indigo;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.col3 p {
  font-size: 28px;
  margin: 5px;
  text-align: center;
}
.col3 h3 {
  font-size: 28px;
  margin: 5px;
  text-align: center;
}
.col3 h4 {
  font-size: 28px;
  margin: 5px;
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 320px) {
  .homepicture, .aboutpicture, .musicpicture, .tourpicture {
    padding: 50px, 50px;
  }
  .col, .col2, .col3 {
    width: 100%;
  }
  .col-margin {
    margin: 0;
  }
}
